.search{
    padding: 7px;
}

.filter{
    /* padding: 7px; */
    display: flex;
}

.filter-btn{
    /* padding: 4px; */
    margin: 6px 0px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    margin: 4px;
    width: 200px;
    padding: 4px;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.res-logo{
    width: 100%;
    height: 160px;
}

.card-links{
    color: black;
    text-decoration: none;
}